
.normal {
  background: #F279B2;
}

.LoginComponent {
  border: solid 1px #FFF;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #DDD;
  width: 380px;
  height: 280px;
  margin: 100px auto 0px auto;
  padding: 30px;
}

.loginForm {
  max-width: 300px;
  margin: auto;
}
.loginFormForgot {
  float: right;
}
.loginFormButton {
  width: 100%;
}
